.center-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
}

.search-box {
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.brow {
  position: relative; /* so icon can be absolutely positioned inside */
  display: flex;
  align-items: center;
}

.search-box {
  position: relative;
  width: 50rem;
  border-radius: 2rem;
  background: whitesmoke;  /* match input bg */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-box input {
  flex: 1;
  height: 3rem;
  padding-left: 3.75rem;
  background: whitesmoke;
  border: none;
  border-radius: 2rem;
  font-size: 1.25rem;
  outline: none;
  color: #333;
}

.search-icon {
  position: absolute;
  left: 1rem;
  font-size: 1rem;
  color: #555;
}

.search-box button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  position: absolute;
  left: 1rem;
}

.search-box button i {
  font-size: 1.5rem;
  color: #555;
}

::placeholder {
  color: #555;
}

.result-box {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.result-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-box ul li {
  padding: 1rem;
  cursor: pointer;
}

.result-box ul li:hover {
  background: #e9f3ff;
}
