/* I want everything inside 10% horizontally like how Shopee does */

/* defaults (for all) */
html {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* so no horizontal scrollbar */
}

body {
    background-color: white;
    display: flex;
    flex-direction: column; /* stacks (header|main|footer|copyright) vertically */
    font-family: Arial, sans-serif;
    margin: 0; /* so header and footer cover entire width */
    min-height: 100vh; /* keeps footer on bottom while letting header stick on top */
}

main {
  flex: 1; /* so footer sticks to bottom of screen (by stretching middle part fully) */
  margin: 2% 10%; /* 10% from sides */
}

/* header */
header {
  background-color: white; /* (TEMPORARY) */
  padding: 1.5rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* keep it on top */
  position: sticky;
  top: 0;
}

nav {
    display: flex;
    align-items: center;
    background: #fff;
    margin: 0 10.5%; /* slightly more in than the body */
}

header img {
  height: 55px;
}

.nav-spacer {
  flex-grow: 1;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #007BFF;
}

/* content (middle) */

/* search bar */
.search-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: clamp(200px, 50vw, 700px);
}

@media (max-width: 600px) {
  .search-container {
    display: none;
  }
}

.search {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 50px;
  background: #e7e7e7;
  transition: background 0.25s, box-shadow 0.25s;
}

.search input {
  font-size: 1rem;
  font-family: Arial, sans-serif;
  color: #333333;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: transparent;
  width: 100%;  
}

.search:focus-within {
  background: #f6f6f6;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.search::placeholder,
.search-icon {
  color: rgba(0, 0, 0, 0.5);
}

form {
  position: relative;
}

/* grid of featured suppliers */
.grid-fsp {
  display: grid;
  gap: 1rem; /* space between own items */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-fsp a {
  transition: transform 0.3s ease;
}

.grid-fsp a:hover {
  transform: scale(1.05);
}

.grid-fsp a img {
  width: 100%; /* so img takes full width of grid row */
  height: auto;
}

/* footer */

footer {
  flex-shrink: 0; /* so no extra space on bottom (firefox tngina) */
}

footer a { 
  transition: color 0.3s ease;
}

footer a:hover {
  color: #007BFF !important;
}

footer li, p {
  font-size: 0.875rem;
}

/* PDP */

/* suppliers specific page: */
.supplier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.hori { /* awful name but yeah */
  display: flex;
  align-items: end;
  padding: 10px 20px;
}

.horiz { /* awful name but yeah */
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.supplier-pfp {
  width: 3rem;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
}

.coomtainer a {
  color: rgb(0, 0, 255);
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: bold;
}

.coomtainer a:hover {
  color: rgb(9, 116, 255);
  text-decoration: underline;
}

.coomtainer {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.coontainer {
  display: flex;
  margin: 0 20px 20px 20px; /* no top margin */
}

.product-description {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.logo {
  width: 18rem;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.logo:hover {
  transform: scale(1.05);
}

/* for version 2 of pfp: */

.logo-v2 {
  width: 22rem;
  height: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
}

.logo-v2:hover {
  transform: scale(1.05);
}

/* END OF LOGO V2 */

.right-sectionn {
  text-align: left;
  margin-left: 4%;
}

.right-sectionn h1 {
  font-size: 4rem;
}

/* for version 2 of h1 (title) */

.right-sectionn-v2 {
  text-align: left;
  margin-left: 4%;
}

.right-sectionn-v2 h1 {
  font-size: 3.5rem;
}

/* END OF H1 V2 */

.images-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  gap: 10px;
  justify-content: center;
  margin: 0px 20px 20px 20px;
}

.small-img {
  width: 5rem;
  height: auto;
  border-radius: 8px;
  -o-object-fit: cover;
  object-fit: cover;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.small-img:hover {
  transform: scale(1.1);
}

/* for misc pages */
/* making one class for multiple pages, just add if needed */

.misc-text {
  list-style-position: inside;
  margin: 0 30%;
}

.misc-text ol > li {
  font-weight: bold;
  margin: 1rem 0;
}

.misc-text ul li {
  list-style-type: disc;
}

.misc-text p{
  font-size: 1rem;
}

/* Supplier Home Page */
.sp-hp-pfp {
  height: 10rem;
  width: auto;
}

/* POP-UP */
.modal-content {
  border-radius: 1.5rem;
}